{# templates/contact/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}
    Contact
{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>
            Nous contacter
        </h1>
        <p>
            Vous avez des questions ? N'hésitez pas à nous contacter.
        </p>
        <p>
            Téléphone : 0602040907
        </p>

        <div class="row">
            <div class="col-md-6">
                <h2>
                    Notre adresse
                </h2>
                <address>
                    123 Rue de l'Épicerie
                    <br>
                        75001 Paris, France
                    </address>

                    <h2>
                        Heures d'ouverture
                    </h2>
                    <p>
                        Lundi - Samedi : 9h00 - 19h00
                        <br>
                            Dimanche : Fermé
                        </p>

                    </div>
                    <div class="col-md-6">
                        <h2>
                            Localisation
                        </h2>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2624.991629806085!2d2.29229261567406!3d48.85837007928746!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66e2964b4c7c5%3A0x6a2b8e39c43d7c3d!2sTour%20Eiffel!5e0!3m2!1sfr!2sfr!4v1628173428935!5m2!1sfr!2sfr" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                </div>
            </div>
        {% endblock %}
        